* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.temporary {
    margin: 1%;
}

section {
    margin: 2%;
}

ul {
    list-style-type: none;
    padding: 0;
    padding-left: 1em;
}

li {
    margin-bottom: .5%;
    font-size: 1.5em;
}

.date {
    font-size: 3em;
}

.project-title {
    font-size: 1.8em;
}

.project-content {
    margin-left: 2%;
}

.date small {
    font-size: .75em;
}

.content {
    margin-left: 2%;
}

p {
    font-size: 1.5em;
}