* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
}

.section-1 {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.section-2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.section-3 {
    justify-content: center;
    height: auto;
}

.container {
    width: 50%;
    box-sizing: border-box;
    position: relative;
    padding: 2%;
}

.text-container {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: left;
}

.section-title {
    font-size: 3em;
}

.info-title {
    font-size: 1.8em;
}

.info-content {
    margin-left: 2%;
}

.info-title small {
    font-size: .5em;
}

.info {
    margin-left: 5%;
}

.info-2 {
    margin-left: 5%;
}

.info-3 {
    margin-left: 5%;
}

.info-4 {
    margin-left: 5%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: .75%;
}

.links {
    display: flex;
    align-items: stretch;
    /* Default */
    justify-content: space-between;
    width: 50%;
    margin: 0;
    padding: 0;
}

.links li {
    display: block;
    flex: 0 1 auto;
    /* Default */
    list-style-type: none;
    font-size: 1.5em;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 650px) {
    .links {
        flex-direction: column;
        align-items: center;
    }

    .links li {
        padding: 10px;
    }
}