* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: white;
    color: black;
    overflow-x: hidden;
}

section {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: default;
}

.about {
    padding: 5%;
    cursor: default;

}

.about-me {
    width: 66%;
    font-size: 1.5em;
    text-align: center;
    padding: 2%;
    margin-left: 5%;
    border: 1px solid black;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;

    a,
    a:link,
    a:visited {
        color: black;
        text-decoration: none;
        position: relative;
        padding-bottom: 2px;
        font-weight: bold;
    }

    a::before {
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        background-image: linear-gradient(90deg, black, black);
        background-size: 0 .1em;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: background-size .3s ease-in-out;

    }

    a:hover::before {
        background-size: 100% .1em;
    }
}

.about-me:hover {
    transform: translateY(5px);
}

.education {
    width: 34%;
    text-align: center;
    font-size: 1.3em;

    .education-item {
        flex-direction: column;
        margin-top: 10%;
        padding: 5%;
        border: 1px solid black;
        transition-property: all;
        transition-duration: 0.25s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }

    .education-item:hover {
        transform: translateY(5px);
    }

    img {
        width: 20%;
    }

    li {
        list-style: none;
    }
}

.projects {
    .envelope {
        display: flex;
        height: 75%;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        flex-direction: row;

        .container {
            flex: 1;
            margin: 1%;
            flex-direction: column;
            text-align: left;
            padding: 3%;
            border: 1px solid black;
            font-size: 20px;
            cursor: pointer;
            transition-property: all;
            transition-duration: 0.25s;
            transition-timing-function: ease;
            transition-delay: 0s;

            li {
                font-size: 16px;
                list-style-type: none;
            }
        }

        .container:hover {
            transform: scale(1.02);
            background-color: rgb(199, 199, 199);
        }
    }
}

.skills {
    .envelope {
        display: flex;
        height: 85%;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        flex-direction: row;
    }

    .container {
        flex: 1;
        margin: 1%;
        flex-direction: column;
        text-align: center;
        padding: 3%;
        border: 1px solid black;
        font-size: 20px;
        transition-property: all;
        transition-duration: 0.25s;
        transition-timing-function: ease;
        transition-delay: 0s;

        h1 {
            padding-bottom: 1em;
        }

        li {
            list-style-type: none;
            line-height: 2em;
        }
    }

    .container:hover {
        transform: translateY(5px);
    }
}