section {
    height: 1200px;
    position: relative;
    /* display: flex; */
}

.visualization {
    width: 50%;
    height: 100%;
    float: right;
}

.text {
    width: 50%;
    height: 100%;
    float: left;
}

.text p {
    margin: 2px;
}

.title {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: .5em;
    margin-top: .5em;
}

.code-container {
    max-height: 25%;
    width: 50%;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
}

.visualization-area {
    width: 100%;
    height: 70%;
    background-color: gray;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    min-height: 101vh;
}

.tabs {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.white-rectangle {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.slider {
    position: absolute;
    display: flex;
    background: black;
    /* box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3); */
    border-radius: 100px;
    height: 40px;
    left: 0;
}

.tabs-block {
    display: flex;
    padding: 0;
    flex-direction: row;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 100px;
    width: 50%;
    z-index: 9;
}

li {
    text-align: center;
    padding: 10px;
    flex: auto;
    font-size: 18px;
    font-weight: 700;
    color: black;
    position: relative;
    cursor: pointer;
    list-style: none;
}

h1 {
    margin: 0;
    padding: 0;
    color: black;
    text-align: left;
}

.article-block {
    position: relative;
    width: 100%;
    margin-top: 75px;
    overflow: hidden;
    /* box-shadow: 0 10px 12px -12px rgba(0, 0, 0, 0.4) inset; */
    /* border-top: 1px solid rgba(0, 0, 0, 1); */
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    /* border-radius: 24px; */
}

.article {
    position: absolute;
    padding: 20px;
    left: 0;
    top: 0;
    line-height: 1.5;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

@media (max-aspect-ratio: 16/9) {
    .text {
        width: 100%;
    }

    .text.viz1 {
        font-size: .75em;
    }

    .text.viz2 {
        font-size: .7em;
    }

    .text.viz3 {
        font-size: .8em;
    }

    .visualization {
        width: 100%;
    }

    .code-container {
        width: 100%;
    }
}

@media (max-aspect-ratio: 11/9) {
    .tabs-block {
        flex-direction: column;
    }

    .article-block {
        margin-top: 190px;
    }
}