html {
        background: white;
        font-family: 'myFutura', sans-serif;
}

@font-face {
        font-family: myFutura;
        src: url(FuturaLT.woff2);
}

@font-face {
        font-family: myFutura;
        src: url(FuturaLT-Bold.woff2);
        font-weight: bold;
}

a {
        text-decoration: none;
        color: black;
        font-family: 'myFutura', sans-serif;
        /* Change color to your preference */
}

/* Change link color on hover */
a:hover {
        color: black;
        /* Change color on hover */
}

/* Change link color when visited */
a:visited {
        color: black;
        /* Change color for visited links */
}

.space {
        padding: 50px;
}

.smallspace {
        padding: 25px;
}