* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    min-height: 101vh;
}

.tabs {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.white-rectangle {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.slider {
    position: absolute;
    display: flex;
    background: black;
    /* box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3); */
    border-radius: 100px;
    height: 40px;
    left: 0;
}

.tabs-block {
    display: flex;
    padding: 0;
    flex-direction: row;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 100px;
    width: 50%;
    z-index: 9;
}

li {
    text-align: center;
    padding: 10px;
    flex: auto;
    font-size: 18px;
    font-weight: 700;
    color: black;
    position: relative;
    cursor: pointer;
    list-style: none;
}

h1 {
    margin: 0;
    padding: 0;
    color: black;
    text-align: left;
}

.article-block {
    position: relative;
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
    /* box-shadow: 0 10px 12px -12px rgba(0, 0, 0, 0.4) inset; */
    /* border-top: 1px solid rgba(0, 0, 0, 1); */
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    /* border-radius: 24px; */
}

.article {
    position: absolute;
    padding: 20px;
    left: 0;
    top: 0;
    line-height: 1.5;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}