.temporary {
    position: fixed;
    top: 0;
    right: 2%;
    z-index: 999;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .temporary {
    top: 19px;
}