* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.section-1 {
    justify-content: center;
    align-items: center;
}

.section-2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.section-3 {
    justify-content: center;
    align-items: top;
    height: auto;
}

.container {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    position: relative;
    padding: 5%;
}

@media screen and (max-width: 768px) {

    .container {
        width: 100%;
        height: 75%;
    }
}

.text-container {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: left;
}

.section-title {
    font-size: 3em;
}

.info-title {
    font-size: 1.8em;
}

.info-content {
    margin-left: 2%;
}

.info-title small {
    font-size: 10px;
}

.info {
    margin-left: 5%;
}

.info-2 {
    margin-left: 5%;
}

.info-3 {
    margin-left: 5%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: .75%;
}

.links {
    display: flex;
    padding: 0;
    flex-direction: row;
    border-radius: 100px;
    width: 50vw;
    height: auto;
    margin: 50px auto;
    position: relative;
}

.links li {
    text-align: center;
    margin: 0;
    padding: 10px;
    flex: auto;
    font-size: 24px;
    color: black;
    position: relative;
    cursor: pointer;
    list-style: none;
}