* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

section {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.section-2 {
    height: 80vh;
    align-items: bottom;
}

.section-3 {
    height: 80vh;
    align-items: top;
}

.text-container {
    text-align: center;
    /* Centers the text horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers the items vertically */
}

.slider {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* background-color: aqua; */
    max-width: 1200;
    width: 100%;
    margin: auto;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 3em;
}

.info-title {
    font-size: 1.8em;
}

.info-title small {
    font-size: 10px;
}

.info {
    width: 100%;
    margin-left: 3%;
}

/* Styling for the bullet points */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 2%;
    /* Adjust spacing between bullet points */
}