* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111222;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-left: 5%;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
}

.content .image {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content .image img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.section-title {
    font-size: 3em;
}

.info-title {
    font-size: 1.8em;
}

.info-title small {
    font-size: 10px;
}

.info {
    width: 100%;
    margin-left: 3%;
}

/* Styling for the bullet points */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 2%;
    /* Adjust spacing between bullet points */
}