.card-container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: flex-start;
}

.card {
    background: white;
    border-radius: .25rem;
    padding: .5rem;
    transform: translateX(100px);
    opacity: 0;
    transition: 150ms;
}

.card.show {
    transform: translateX(0);
    opacity: 1;
}

/* Styling for the container */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    /* Adjust width as needed */
    margin: 0 auto;
    /* Centering the container */
}

/* Styling for the left side */
.left {
    text-align: right;
    padding-right: 4%;
    font-size: 32px;
    /* Adjust spacing as needed */
}

/* Styling for the vertical line */
.vertical-line {
    border-left: 0.15vw solid black;
    /* Change color and thickness as needed */
    height: 50vh;
    /* Adjust the length of the line */
    margin-left: 1%;
    /* Adjust spacing from the text */
}

/* Styling for the right side */
.right {
    width: calc(45% - 3%);
    /* Adjust width of the right side */
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}